---
layout: base-layout.njk
pagination: 
    data: collections.post
    size: 10
    reverse: true
    alias: posts
---
<header>
    <h1>
        Eryn's Blog
    </h1>
    <p>
        Welcome to my blog! Here you will find musings on code, design, 
        accessibility, and all the other odds and ends I'm inspired to write
        about.
</header>

{% for post in posts %}
<article class="excerpt">
    <h2>
        <a href="/blog{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>
    <p>
        <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
    </p>

    {%- if post.data.page.excerpt -%}
    <p>{{ post.data.page.excerpt }}</p>
    {%- endif -%}

    <a href="/blog{{ post.url | url }}">Read more</a>
</article>
<hr>

{% endfor %}