<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ekelseya Blog</title>

  <link rel="stylesheet" href="/css/picnic.min.css">
  
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a href="/" class="pseudo button">Home</a>
        <a href="/About" class="pseudo button">About</a>
    </nav>

</header>
<main>
  {{ content | safe }}
</main>
</body>
</html>